@charset "UTF-8";

ol.linenums > li {
	color: #bebec5;
	line-height: 20px;
	list-style: decimal;
}
code.prettyprint {
	overflow-x: auto;
	
	tab-size: 4;
	-moz-tab-size: 4;
}

div.scp-title {
	position: relative;
	z-index: 10;
	display: block;

	color: #333;
	border: 1px solid #d6d6d6;
	border-bottom-width: 0px;
	background: #ddd;

	font-size: 0.7em;
	margin: 0 0.5em;
	padding: 0.2em 0.6em 0.2em 0.6em;
	line-height: 1.2em;
	width: fit-content;
}
pre.scp {
	color: #fff;
	border: 0px solid #000000;
	background: transparent;
	font-size: 10px;
	line-height: 1em;
}
div.scp-title + pre.scp {
	margin-top: -1px;
}

pre.scp > code {
	position: relative;

	border: 1px solid #d6d6d6;
	background: #333;
	font-size:   12px;
	font-weight: normal;
	display: block;

	padding: 1.0em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
}
pre.scp > code > ol {
	margin-left: -1em;
	margin-right: -1em;
}

pre.scp > code:after {
	content: "";
	position: absolute;
	right: 0.5em;
	top: 2px;
	
	line-height: 1em;
	opacity: 0.6;
}
pre.scp > code.lang-css:after {
	content: "CSS";
}
pre.scp > code.lang-js:after {
	content: "JavaScript";
}
pre.scp > code.lang-java:after {
	content: "Java";
}
pre.scp > code.lang-php:after {
	content: "PHP";
}
pre.scp > code.lang-cpp:after {
	content: "C++";
}
pre.scp > code.lang-c:after {
	content: "C";
}
pre.scp > code.lang-csh:after {
	content: "C#";
}
pre.scp > code.lang-bsh:after {
	content: "BASH";
}
pre.scp > code.lang-sh:after {
	content: "BASH";
}
pre.scp > code.lang-sql:after {
	content: "SQL";
}
pre.scp > code.lang-vb:after {
	content: "Visual Basic";
}
pre.scp > code.lang-xml:after {
	content: "XML";
}
pre.scp > code.lang-html:after {
	content: "HTML";
}

